@font-face {
    font-family: 'FuturaDem';
    src: url('FuturaDem.eot');
    src: url('FuturaDem.eot') format('embedded-opentype'),
         url('FuturaDem.woff2') format('woff2'),
         url('FuturaDem.woff') format('woff'),
         url('FuturaDem.ttf') format('truetype'),
         url('FuturaDem.svg#FuturaDem') format('svg');
}
@font-face {
    font-family: 'FuturaMedium';
    src: url('FuturaMedium.eot');
    src: url('FuturaMedium.eot') format('embedded-opentype'),
         url('FuturaMedium.woff2') format('woff2'),
         url('FuturaMedium.woff') format('woff'),
         url('FuturaMedium.ttf') format('truetype'),
         url('FuturaMedium.svg#FuturaMedium') format('svg');
}
