/*
Color:
base: #000
light: #a8a8a8
dark: #000
primary: #1300fc
secondary: #a9a2ff
*/
/*============================*/
/*GLOBAL*/
/*============================*/
@import url('../fonts/FuturaDem.css');
body{color: #000; font-size: 24px; font-family: 'Futura'; font-weight: 400; line-height: 0.876;}
h1,h2,h3,h4,h5,h6{font-weight: 700;}
img{max-width: 100%;}
@media(max-width:1400px){
	body{font-size: 1.4970059880239521vw;}
}
@media(max-width:1000px){
	body{font-size: calc(12px + 1.5625vw);}
}
@media(max-width:767px){
	body{font-size: calc(12px + 1vw);}
}
@media (max-width:1000px) and (orientation:landscape) {
	body{font-size: calc(12px + 1.2vw);}
}
/*BUTTONS*/
.btn{border-width: 2px; font-weight:  700; text-transform: uppercase; font-size: 1.125em; border-radius: 2em; padding: 0.35em 0.6em; line-height: 1; letter-spacing: -1px;}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{outline: 0; outline-offset: 0;}
.btn .rmicon {font-size: 1.63em; vertical-align: middle; margin-right: 0.13em;}
.btn .btn-text{display: inline-block; vertical-align: middle; padding-top: 4px;}
.btn-default{color: #fff; background-color: #000; border-color: #000;}
.btn-default:hover,
.btn-default:focus, 
.btn-default:active:focus, 
.btn-default.active:focus, 
.btn-default.focus, 
.btn-default:active.focus, 
.btn-default.active.focus{border-color: #000; background-color: #000; color: #fff;}
.btn-primary{color: #fff; background-color: #1300fc; border-color: #1300fc;}
.btn-primary:hover,
.btn-primary:focus, 
.btn-primary:active:focus, 
.btn-primary.active:focus, 
.btn-primary.focus, 
.btn-primary:active.focus, 
.btn-primary.active.focus{color: #fff; border-color: #1003ad; background-color: #1003ad;}
.btn-secondary{color: #fff; background-color: #a9a2ff; border-color: #a9a2ff;}
.btn-secondary:hover,
.btn-secondary:focus, 
.btn-secondary:active:focus, 
.btn-secondary.active:focus, 
.btn-secondary.focus, 
.btn-secondary:active.focus, 
.btn-secondary.active.focus{color: #fff; border-color: #1300fc; background-color: #1300fc;}
.btn-success{color: #000; background-color: #00ffaf; border-color: #00ffaf;}
.btn-success:hover,
.btn-success:focus, 
.btn-success:active:focus, 
.btn-success.active:focus, 
.btn-success.focus, 
.btn-success:active.focus, 
.btn-success.active.focus{color: #000; border-color: #04e39d; background-color: #04e39d;}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn{opacity: 1;background-color: #a9a2ff; border-color: #a9a2ff;}
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
.btn-primary.disabled.focus, 
.btn-primary[disabled].focus{background-color: #a9a2ff; border-color: #a9a2ff;}

/*FORM*/
.form-control{border:0; border-bottom: 4px solid #a0a0a0; border-radius: 0;
	-webkit-box-shadow: none; box-shadow: none; color: #1300fc; font-weight: 700;font-size: 1.5em; position: relative; z-index: 2;
	background-color: transparent; padding-bottom: 0; padding-top: 0; height: auto;
}
.form-control:focus{border-color: #1300fc; -webkit-box-shadow: none; box-shadow: none;}
.form-group{margin-bottom: 10px;}
.form-group.form-group-js{padding-top: 15px; position: relative;}
.form-group.form-group-js .text-holder{font-family: 'FuturaMedium'; color: #a0a0a0; font-size: 16px; font-weight: 500; position: absolute;  bottom: 3px; left: 12px; z-index: 1;}
.form-group.form-group-js.active .text-holder{font-size: 12px; bottom: 24px;}

.form-group .text-help{color: #a8a8a8;}
.checkbox{padding-left: 46px;}

.checkbox label::before{border-color: #a2a2a2; border-width: 3px; width: 30px; height: 30px; margin-left: -46px; top: 50%; margin-top: -15px;}
.checkbox label::after{color: #1300fc; background: url(../images/ic_check.png) no-repeat center / 70%; width: 30px; height: 30px; top: 50%; margin-top: -15px; margin-left: -46px;}
.checkbox input[type="checkbox"]:checked + label::after, .checkbox input[type="radio"]:checked + label::after{content: "";}
.checkbox label::before{border-radius: 0;}
.checkbox input[type="checkbox"]:focus + label::before{outline: 0; outline-offset: 0;}
@media(max-width:1400px){
	.form-control{border-bottom-width: 3px}
	.checkbox{padding-left: 36px;}
	.checkbox label::before{border-width: 3px; width: 24px; height: 24px; margin-left: -36px; top: 50%; margin-top: -12px;}
	.checkbox label::after{width: 24px; height: 24px; top: 50%; margin-top: -12px; margin-left: -36px;}
}
@media(max-width:1200px){
	.checkbox{padding-left: 28px;}
	.checkbox label::before{border-width: 3px; width: 20px; height: 20px; margin-left: -28px; top: 50%; margin-top: -10px;}
	.checkbox label::after{width: 20px; height: 20px; top: 50%; margin-top: -10px; margin-left: -28px;}
}

/*STRUCTURE*/
html,body,.site{height: 100%;}
.site{padding-left: calc(100vw - 1005px);}
.site-content{height: calc(100% - 96px);}
.container{width: 100%;}
.row{margin-left: -7.5px; margin-right: -7.5px;}
.row>div{padding-left: 7.5px; padding-right: 7.5px;}

/*SIDEBAR*/
.track-artist{width: calc(100vw - 1026px); position: fixed;left: 0;top: 0;height: 100%; z-index: 8;  background: url(../images/sidebar-bg.jpg) no-repeat top right / cover; color: #fff;}
.track-artist-inner{width: 376px; padding: 23px 30px; }
.track-artist .track-artist-text{padding: 0 18px 10px 24px;}
.track-artist .track-artist-name{font-size: 1.17em; margin-bottom: 0.57em;}
.track-artist .track-artist-bio{line-height: 1}
.track-artist .track-artist-logo{font-size: 2.58em;}

/*HEADER-FOOTER*/
.site-header .logo{
	display: block;position: fixed; top: 15px; left: 22px; z-index: 9;
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 2.5em;
	text-decoration: none!important;
	color: #fff;
}
.site-header .logo::before {content: "\e903";}

.site-footer{text-align: center;}
.site-footer .flex-xs{height: 94px;}
.site-footer ul{list-style: none; padding-left: 0; margin-left: 0; margin-bottom: 0;}
.site-footer .list-secured li{display: inline-block;}
.site-footer .list-secured .by-paypal{margin-right: 16px;}
.site-footer .list-secured .by-paypal img{height: 38px;}
.site-footer .list-secured .by-ccavenue img{height: 53px; border: 1px solid #a9a2ff;}
.site-footer .menu li{display: inline-block; margin-right: 12px;}
.site-footer .menu li:last-child{margin-right: 0!important;}
.site-footer .menu li a{color: #000; text-transform: uppercase; font-size: 0.75em;}
.site-footer .menu li a:hover,.site-footer .menu li a:focus,.site-footer .menu li a:active{color: #000;}
.site-footer.full{padding-left: 77px; padding-right: 42px;}
@media(max-width:1400px){
	.site{padding-left: 24.326347305389223vw;}
	.site-content{height: calc(100% - 44px);}
	.site-header .logo{font-size: 3.1437125748502996vw; top: 3.1437125748502996vw; left: 2.694610778443114vw;}
	.site-footer .flex-xs{height: 44px;}
	.site-footer .list-secured .by-ccavenue img{height: 45px;}
	.site-footer .list-secured .by-paypal img{height: 31px;}
	.site-footer .menu li{margin-right: 40px;}
	.track-artist{width: 24.326347305389223vw;}
	.track-artist-inner{width: 100%; padding-left: 2.694610778443114vw; padding-right: 1.2724550898203593vw; padding-bottom: 2.4700598802395213vw;}
	.track-artist .track-artist-text{padding: 0 1.2724550898203593vw 10px 1.9461077844311379vw;}
	.track-artist .track-artist-name{font-size: 1.2em;}
	.site-footer.full{padding-left: 9.580838323353294vw; padding-right: 11.976047904191617vw;}
	.site-footer.full .menu li{margin-right: 15px;}
}
@media(max-width:1200px){
	.site-footer .menu li a{font-size: 13px;}
	.site-footer.full{padding-left: 6.580838323353294vw; padding-right: 8.976047904191617vw;}
}
@media(max-width:1000px){
	.site{padding-left: 0;}
	.site-content{width: 100%; height: 100%;}
	.site-header .logo{color: #1200fc; font-size: 8.463541666666668vw; top: 4.6875vw; left: 5.989583333333334vw;}
	.site-header .logo::before{content: "\e904";}
	.site-footer{display: none;}
	.track-artist{display: none;}
}
@media(max-width:767px){
	.site-header .logo{font-size: 11vw; top: 5.082592121vh;}
}
@media (max-width:1000px) and (orientation:landscape) {
	.site-header .logo{top: 20px; left: 22px; font-size: 8vw;}
}
/*PAGE TRACK*/
.page-track:after{content: ""; width: 544px; height: 598px;position: absolute; top: 0; right: 0; z-index: 1;
	background: url(../images/bg.png) no-repeat left bottom / cover;
}
.page-track .container-fluid{padding-right: 0;}
.page-track .track-content{padding-left: 53px; padding-right: 63px; padding-top: 11.574074074vh; position: relative; z-index: 2;}
.page-track .track-content .track-info{width: 45%; padding-top: 150px;}
.page-track .track-content .track-cover-holder{width: 55%; position: relative;}
.page-track .track-content .track-cover{padding: 22px; background-color: #fff; position: relative; z-index: 2;
	-webkit-box-shadow: 26px 20px 106px 0 rgba(0,0,0,0.26);
	box-shadow: 26px 20px 106px 0 rgba(0,0,0,0.26);
}
.page-track .track-content .track-info .track-genre{font-size: 1.125em; text-transform: uppercase; letter-spacing: -0.074em; margin-bottom: 15px;}
.page-track .track-content .track-info .track-name{font-size: 2.75em; letter-spacing: -0.074em; line-height: 0.79651515151; margin: 0;}
.page-track .track-content .track-info .track-des{font-size: 1.25em; margin-top: 21px;}
.page-track .track-content .track-btns{margin-top: 10vh; padding: 0 104px;}
.page-track .track-content .track-btns p{font-size: 0.75em; margin-top: 1em;}
.page-track .track-content .track-btns .btn-default{padding-left: 1em;padding-right: 1.516em;}
.page-track .track-content .track-btns .btn-primary{padding-right: 0.925em;}

@media(max-width:1400px){
	.page-track .track-content{padding-left: 8.682634730538922vw; padding-right: 6.137724550898204vw; padding-top: 9.734513274vh;}
	.page-track .track-content .track-info{width: 43.5%; padding-top: 150px;}
	.page-track .track-content .track-cover-holder{width: 56.5%;}
	.page-track .track-content .track-info .track-genre{font-size: 1.25em; text-transform: uppercase; letter-spacing: -0.074em; margin-bottom: 15px;}
	.page-track .track-content .track-info .track-name{font-size: 3.15em; letter-spacing: -0.074em; line-height: 0.79651515151; margin: 0;}
	.page-track .track-content .track-info .track-des{font-size: 1.4em; margin-top: 21px;}
	.page-track .track-content .track-btns{padding: 0 12.425149700598803vw 0 8.607784431137725vw;}
	.page-track .track-content .track-btns p{font-size: 0.8em;}
	.page-track .track-content .track-btns .btn-default{padding-left: 1em;padding-right: 1.516em;}
	.page-track .track-content .track-btns .btn-primary{padding-right: 0.925em;}
}
@media(max-width:1200px){
	.page-track:after{max-height: 62%; max-width: 40%;}
	.page-track .track-content .track-info{padding-top: 80px;}
	.page-track .track-content .track-btns{font-size: 18px; padding: 0 8.425149700598803vw 0 4.607784431137725vw}
}
@media(max-height:850px){
	.page-track .track-content{padding-top: 9.574074074vh;}
	.page-track .track-content .track-btns{margin-top: 8vh;}
}
@media(max-height:768px){
	.page-track .track-content{padding-top: 8.463541666vh;}
	.page-track .track-content .track-btns{margin-top: 9.114583333vh;}
}
@media(max-width:1000px){
	.page-track:after{display: none;}
	.page-track .container-fluid{padding-right: 15px;}
	.page-track .track-content{padding: 10px 14.973958333333334vw;}
	.page-track .track-content .track-cover-holder{width: 100%; margin-top: 4.31372549vh;}
	.page-track .track-content .track-cover{padding: 4.296875vw;}
	.page-track .track-content .track-info{width: 100%; padding-top: 5.098039215vh; padding-left: 12.369791666666668vw; padding-right: 6.510416666666667vw}
	.page-track .track-content .track-info .track-genre{font-size: 1.25em;}
	.page-track .track-content .track-info .track-name{font-size: 2.67em;}
	.page-track .track-content .track-info .track-des{font-size: 1em;}
	.page-track .track-content .track-btns{position: fixed; left: 0; right: 0; bottom: 0; padding: 0;font-size: calc(12px + 1.5625vw);}
	.page-track .track-content .track-btns .btn{border-radius: 0; height: 100%; font-size: 1.67em; padding: 0.475em 0; text-align: center;}
	.page-track .track-content .track-btns .btn .rmicon{margin-right: 0;}
	.page-track .track-content .track-btns .btn-default{width: 19.791666666666668vw; }
	.page-track .track-content .track-btns .btn-default .btn-text{display: none;}
	.page-track .track-content .track-btns .btn-default .rmicon{font-size: 1.55em;}
	.page-track .track-content .track-btns .btn-primary{width: calc(100vw - 19.791666666666668vw);}
	.page-track .track-content .track-btns .btn-primary .btn-text span{display: block; text-transform: none; font-weight: 400; font-size: 0.6em;}
	.page-track .track-content .track-btns .btn-primary .rmicon{display: none;}
}
@media(max-width:767px){
	.page-track .track-content{padding: 0 15px;}
	.page-track .track-content .track-cover-holder{margin-top: 7.623888182vh;}
	.page-track .track-content .track-cover{-webkit-box-shadow: 16px 10px 56px 0 rgba(0,0,0,0.26);box-shadow: 16px 10px 56px 0 rgba(0,0,0,0.26);}
	.page-track .track-content .track-info{padding: 5.082592121vh 0 0 19.733333333333334vw;}
	.page-track .track-content .track-info .track-genre{margin-top: 0; margin-bottom: 8px;}
	.page-track .track-content .track-info .track-des{margin-top: 15px;}
	.page-track .track-content .track-btns{font-size: calc(10px + 1vw);}
	.page-track .track-content .track-btns .btn-default{width: 22vw; }
	.page-track .track-content .track-btns .btn-primary{width: calc(100vw - 22vw);}
}
@media(max-height:650px){
	.page-track .track-content .track-cover-holder{margin-top: 4vh;}
}
@media (max-width:1000px) and (orientation:landscape) {
	.page-track .track-content{padding: 0 15px 0 19.791666666666668vw;}
	.page-track .track-content .track-cover-holder{display: none;}
	.page-track .track-content .track-info{padding: 20px 0 0 15px;}
	.page-track .track-content .track-btns{font-size: calc(12px + 1vw);}
}
/*PAGE CHECKOUT*/
.page-checkout .container{padding-left: 51px; padding-right: 57px;}
.page-checkout .checkout-title{font-size: 2.92em;margin-top: 3.5vh; margin-bottom: 3.3vh; letter-spacing: -0.044em;}
.page-checkout .checkout-title small{font-size: 0.51428571428em; text-transform: uppercase;display: block; color: #b3b3b3; font-weight: 700;letter-spacing: -0.0485em;}
.page-checkout .checkout-message p{letter-spacing: -0.042em; margin-bottom: 9.6vh;}
.page-checkout .track-cover-holder{padding-right: 25px;}
.page-checkout .track-cover{padding: 22px;background-color: #fff;-webkit-box-shadow: 26px 20px 106px 0 rgba(0,0,0,0.26);box-shadow: 26px 20px 106px 0 rgba(0,0,0,0.26);}
.page-checkout .track-text{padding-top: 4.26vh; padding-left: 38px;}
.page-checkout .track-info .track-genre{font-size: 0.798em; font-weight: 700; text-transform: uppercase; letter-spacing: -0.03em;}
.page-checkout .track-info .track-name{font-size: 2em; letter-spacing: -0.044em; line-height: 0.79791666666; margin-bottom: 2.4vh;}
.page-checkout .track-price{font-size: 1.5em; font-weight: 700;letter-spacing: -0.044em;}
.page-checkout .form-checkout{padding-left: 24px;}
.page-checkout .form-checkout .group-heading{margin-bottom: 5.6vh; padding-left: 10px;letter-spacing: -0.05em;}
.page-checkout .form-checkout .group-heading span{display: inline-block; font-size: 2em; font-weight: 700; padding-bottom: 6px; border-bottom: 4px solid #000;}
.page-checkout .form-checkout .form-group{margin-bottom: 6.6vh;}
.page-checkout .form-checkout .agree-holder{padding-left: 10px; margin-top: -2vh; margin-bottom: 5vh;}
.page-checkout .form-checkout .agree-holder label{font-size: 0.83em; line-height: 1.4; color: #464646; letter-spacing: -0.5px;}
.page-checkout .form-checkout .btn{padding-right: 1.26em;}
.page-checkout .form-checkout .btn .rmicon{margin-right: 0.375em;}
@media(max-height:900px){
	.page-checkout .checkout-title{margin-top: 2.5vh; margin-bottom: 1.5vh;}
	.page-checkout .checkout-message p{margin-bottom: 4vh;}
	.page-checkout .track-text{padding-top: 2.26vh;}
	.page-checkout .track-info .track-name{margin-bottom: 1.4vh;}
}
@media(max-width:1400px){
	.page-checkout .site-content{height: calc(100% - 60px);}
	.page-checkout .site-footer .flex-xs{height: 60px;}
	.page-checkout .container{padding-left: 8.532934131736527vw; padding-right: 13.023952095808383vw;}
	.page-checkout .checkout-title{margin-top: 4.3vh; margin-bottom: 2vh;}
	.page-checkout .checkout-message p{margin-bottom: 7.8vh;}
	.page-checkout .track-cover-holder{padding-right: 0;}
	.page-checkout .track-cover{padding: 18px;}
	.page-checkout .track-text{padding-left: 2.245508982035928vw; padding-top: 4.5vh;}
	.page-checkout .track-info .track-name{margin-bottom: 2.6vh;}
	.page-checkout .form-checkout{padding-left: 4.1916167664670665vw}
	.page-checkout .form-checkout .group-heading span{font-size: 1.8em; border-bottom-width: 3px; letter-spacing: -0.07em;}
	.page-checkout .form-checkout .agree-holder label{font-size: 0.7565em;}
}
@media(max-width:1200px){
	.page-checkout .container{padding-left: 5.532934131736527vw; padding-right: 10.023952095808383vw;}
	.page-checkout .form-checkout .agree-holder label{font-size: 0.875em;}
}
@media(max-width:1000px){
	.page-checkout .checkout-title{margin-top: 3vh;}
	.page-checkout .checkout-message p{margin-bottom: 5vh;}
	.page-checkout .track{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap;flex-wrap: wrap;}
	.page-checkout .track-cover-holder{width: 50%;}
	.page-checkout .track-cover{padding: 3vw;}
	.page-checkout .track-text{width: 50%; padding-top: 0; padding-left: 6vw;}
	.page-checkout .form-checkout{margin-top: 5vh;}
	.page-checkout .form-checkout .group-heading{margin-bottom: 3vh;}
	.page-checkout .form-checkout .form-group{margin-bottom: 3vh;}
	.page-checkout .form-checkout .agree-holder{display: none;}
	.page-checkout .form-checkout .btn{position: fixed; bottom: 0; left: 0; right: 0; width: 100%; border-radius: 0;}
	.page-checkout .form-checkout .btn{font-size: 1.67em; padding: 0.475em 0; text-align: center;}
	.page-checkout .form-checkout .btn .btn-text span{display: block; text-transform: none; font-weight: 400; font-size: 0.6em;}
}
@media(max-width:767px){
	.page-checkout .checkout-title{padding-left: 7vw}
	.page-checkout .track-text{padding-left: 4vw;}
}
@media(max-height:650px){
	.page-checkout{font-size: calc(10px + 1vw);}
}
@media (max-width:1000px) and (orientation:landscape) {
	.page-checkout .container{padding-left: 30px; padding-right: 30px;}
	.page-checkout .track,
	.page-checkout .group-heading{display: none;}
	.page-checkout .form-checkout{padding-left: 0; padding-right: 0;}
	.page-checkout .form-checkout .form-group{width: 50%; float: left; padding-left: 10px; padding-right: 10px;}
}
/*PAGE DOWNLOAD*/
.page-download .container{padding-right: 40px;}
.page-download .download-logo{width: 394px; padding-top: 40px; padding-bottom: 7.8vh;}
.page-download .download-title{font-size: 36px; margin-bottom: 10.6vh; font-weight: 400; color: #bfbebe; text-align: center; letter-spacing: -1px; margin-top: 0;}
.page-download .download-title span{font-weight: 700; color: #000;}
.page-download .list-tracks{padding-left: 34px; padding-right: 34px;}
.page-download .track{margin-bottom: 5.1vh;}
.page-download .track .track-text{position: relative; padding-left: 68px; line-height: 1;}
.page-download .track .track-text .track-number{font-weight: 700; font-size: 60px; position: absolute; left: 0; top: -5px; width: 68px;}
.page-download .track .track-text .track-title{font-size: 32px; letter-spacing: -0.04em;line-height: 0.58823529411;}
.page-download .track .track-text .track-info{font-size: 23px;font-weight: 700; color: #727272;line-height: 0.58823529411;}
.page-download .track .track-size{font-size: 21px; font-weight: 700; color: #727272;}
.page-download .track .btn-download{font-size: 21px; border-radius: 0; color: #fff; background-color: #000; border-color: #000; border: 0; padding: 0.575em 0.6em 0.375em;}
@media(max-width:1400px){
	.page-download .container{padding-left: 3.5928143712574854vw; padding-right: 3.5928143712574854vw;}
	.page-download .download-logo{width: 22.679640718562876vw; padding-top: 40px; padding-bottom: 7.8vh;}
	.page-download .download-title{font-size: 1.5em; margin-bottom: 7.8vh;}
	.page-download .list-tracks{padding-left: 1.8712574850299402vw; padding-right: 1.8712574850299402vw;}
	
	.page-download .track .track-text{position: relative; padding-left:5.089820359281437vw;}
	.page-download .track .track-text .track-number{font-size: 3em; width: 5.089820359281437vw;}
	.page-download .track .track-text .track-title{font-size: 1.6em;}
	.page-download .track .track-text .track-info{font-size: 1.15em;}
	.page-download .track .track-size{font-size: 1.05em;}
	.page-download .track .btn-download{font-size: 1.05em;}
}
@media(max-width:1000px){
	.page-download .download-logo{display: none;}
	.page-download .download-title{padding-top: 5.082592121vh; padding-left: 16vw;font-size: 1.25em;}
	.page-download .list-tracks{font-size: calc(10px + 1vw); padding-left: 16vw; padding-right: 6vw;}
	.page-download .track .track-text{padding-left: 3em;}
}
@media(max-width:767px){
	.page-download .track .btn-download{margin-top: 10px; width: 100%;}
	.page-download .track .track-text .track-number{font-size: 3.4em;}
}
@media(max-width:375px){
	.page-download .track .track-text .track-title{line-height: 0.9;}
	.page-download .track .track-text .track-number{top: 0;}
}
@media (max-width:1000px) and (orientation:landscape) {
	.page-download .download-title{padding-left: 10vw; padding-right: 2vw; padding-top: 40px;}
	.page-download .list-tracks{padding-left: 10vw; padding-right: 2vw;}
}
/*PAGE MESSAGES*/
.page-message{text-align: center; height: auto;}
.page-message .site,
.page-message .site-content{height: auto;}
.page-message .site{padding: 0;}
.page-message .site-header .logo{position: static; margin: 18.5vh auto 4.35vh; font-size: 87px;}
.page-message .site-header .logo:before{content: "\e903";}
.page-message .site-footer{display: none;}
.page-message .site-content{min-height: auto;}
.page-message h2{margin-top: 0; margin-bottom: 9vh; font-size: 55px;}
.page-message p{max-width: 580px; margin: 0 auto 15px;font-size: 30px; font-weight: 700;line-height: 1.1;}
.page-message p u{text-decoration: none!important; position: relative;}
.page-message p u:after{content: ""; position: absolute; left: 0; right: 0; bottom: 3px; border-bottom: 3px solid #fff;}
.page-message a:hover{text-decoration: none;}

.page-error{background-color: #ffcdd3; color: #eb1e32;}
.page-error h2,
.page-error a,
.page-error .site-header .logo{color: #eb1e32;}
.page-error p u:after{bottom: 0; border-bottom-color: #eb1e32;}

.page-success{background-color: #d9f1c3; color: #01a901;}
.page-success h2,
.page-success a,
.page-success .site-header .logo{color: #01a901;}
.page-success p u:after{bottom: 0; border-bottom-color: #01a901;}
@media(max-width:1400px){
	.page-message{font-size: 20px;}
	.page-message .site-header .logo{font-size: 3.5em; margin-bottom: 11.3vh;}
	.page-message h2{font-size: 1.8em; margin-bottom: 14vh;}
	.page-message p{font-size: 1em;}
	.page-message p u:after{border-bottom-width: 2px;}
}
@media(max-width:767px){
	.page-message{font-size: 16px;}
}
@media(max-width:400px){
	.page-success p br{display: none;}
}
@media (max-width:1000px) and (orientation:landscape) {
	.page-message .site-header .logo{margin-bottom: 8.3vh;}
	.page-message h2{margin-bottom: 9vh;}
}
/*LOADING*/
@-webkit-keyframes color_change {
	0% { color: #ff0042; }
    33% { color: #00d2ff; }
	66% { color: #b400ff; }
    100% { color: #001eff; }
}
@-moz-keyframes color_change {
	0% { color: #ff0042; }
    33% { color: #00d2ff; }
	66% { color: #b400ff; }
    100% { color: #001eff; }
}
@-ms-keyframes color_change {
	0% { color: #ff0042; }
    33% { color: #00d2ff; }
	66% { color: #b400ff; }
    100% { color: #001eff; }
}
@-o-keyframes color_change {
	0% { color: #ff0042; }
    33% { color: #00d2ff; }
	66% { color: #b400ff; }
    100% { color: #001eff; }
}
@keyframes color_change {
	0% { color: #ff0042; }
    33% { color: #00d2ff; }
	66% { color: #b400ff; }
    100% { color: #001eff; }
}
.loading{position: fixed; left: 0; top: 0; z-index: 9999; width: 100%; height: 100%; background-color: #fff; font-size: 4.875em;}
.loading>div{height: 100%;
	-webkit-animation: color_change 4s infinite alternate;
	-moz-animation: color_change 4s infinite alternate;
	-ms-animation: color_change 4s infinite alternate;
	-o-animation: color_change 4s infinite alternate;
	animation: color_change 4s infinite alternate;
}