<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="container-fluid">
    <div class="flex-xs justify-content-center align-items-center">
      <ul *ngIf="showLogopayment" class="list-secured">
        <li class="by-paypal">
          <img src="assets/images/footer-img-1.png" alt="Secured by Paypal">
        </li>
        <li  class="by-ccavenue">
          <img src="assets/images/footer-img-2.png" alt="Powered by CCAvenue">
        </li>
      </ul>
      <ul class="menu">
        <li>
          <a routerLink="/privacy-policy" href="">Privacy Policy</a>
        </li>
        <li>
          <a routerLink="/contact-us" href="">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</footer>