<footer id="colophon" class="site-footer full" role="contentinfo">
  <div class="container-fluid">
    <div class="flex-xs justify-content-between align-items-center">
      <ul class="list-secured">
        <li class="by-paypal"><img src="/assets/images/footer-img-1.png" alt="Secured by Paypal"></li>
        <li class="by-ccavenue"><img src="/assets/images/footer-img-2.png" alt="Powered by CCAvenue"></li>
      </ul>
      <ul class="menu">
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </div>
  </div>
</footer>